[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tic-tac-toe = {editable = true, path = "."}
fastapi = "*"
uvicorn = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
